
#container {
    display: grid;
    grid-template-columns: auto;
    width: 560px; 
    height: 560px;
    border: 3px solid black;
}


#container > div {
    width: 558px;
    height: 30px;
    border: 1px solid red;
}